@import '../../../../../assets/scss/variables';

.container {
    background-color: #fff;
    padding: 8px 42px;
}

.error {
    font-size: 10px;
    font-weight: bold;
    color: $color-danger;
}

// SECTION CHECKBOX

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    margin: 10px 10px 10px 0;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border: 1px solid #6E6E73;
    border-radius: 4px;
    background-color: #fff;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 3px;
    left: 8px;
}


// SECTION RADIOBUTON

input[type=radio] {
    position: relative;
    cursor: pointer;
    margin: 10px 10px 10px 0;
}

input[type=radio]:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border: 1px solid #6E6E73;
    border-radius: 50%;
    background-color: #fff;
}

input[type=radio]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    left: 8px;
}

.radio-content {
    display: flex;

    div:nth-child(1) {
        margin-right: 10px;
    }
}

// SECTION 

.btn-container {
    display: flex;
    justify-content: center;
    button:nth-child(1) {
        margin-right: 63px;
    }
}