.btn {
    color: $color-blue-500;
    font-weight: bold;
    padding: 1rem 2rem;
    // border-radius: 5px;
    cursor: pointer;

    &:focus {
        outline: 0;
    }

}

.btn-primary {
    background-color: $color-yellow-500;
    border: 1px solid $color-yellow-500;
    cursor: pointer;

    &:hover {
        background-color: $color-yellow-gold-500;
        border: 1px solid $color-yellow-gold-500;
    }
}

.btn-secondary {
    background-color: $color-gray-blue-500;
    border: 1px solid $color-gray-blue-500;
    cursor: pointer;

    &:hover {
        background-color: $color-gray-blue-700;
        border: 1px solid $color-gray-blue-700;
    }
}