<div class="bodyCard">
<h1 class="bodyCard__title">Formulario de registro</h1>
    <hr>
    <img src="assets/success-img.png " alt="success" class="bodyCard__img">
    <p class="bodyCard__text">
        <img src="assets/success-logo.png" alt="success" class="bodyCard__text--icon">
        <span class="bodyCard__text--text">Formulario enviado exitosamente</span>
    </p>

    <div>
        <button class="button button--secondary">Reiniciar</button>
        <button class="button button--primary">Enviar</button>
    </div>
</div>
