.select {
    padding: 20px;
    &__label {
        font-size: 0.9rem;
        font-weight: bold;
    }

    &__field {
        width: 98%;
    }

    &__errors {
        color: var(--error-color);
        font-size: 0.7rem;
    }
}