input {
  border-radius: 10px;
  border: 2px solid #bcbcbc;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.input {
  padding: 20px;
  &__label {
      font-size: 0.9rem;
      font-weight: bold;
  }

  &__field {
      width: 90%;
  }

  &__errors {
      color: var(--error-color);
      font-size: 0.7rem;
  }
}
