.form-control {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #2c2c30;
}

input {
  border: 1px solid #2c2c30;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 14px;

  &:disabled {
    background-color: #f6f6f6;
    border: 1px solid #dbdbdc;
  }
}
