@import '../../../../assets/scss/variables';

input {
    width: 100%;
    margin: 5px 0;
    border: 1px solid $border-form;
    background-color: #ffffff;
    padding: 0.9rem 1rem;
    border-radius: 4px;

    &:focus {
        outline: 0;
        border: $border-form-focus;
        box-shadow: $box-shadow-form-focus;
    }

    &::placeholder {
        color: $color-medium;
    }
}


// FORM CONTROL

.ng-invalid.ng-touched {
    border: 1px solid $color-danger;
}