.login {
  display: flex;
  flex-wrap: wrap;

  &__data {
    flex: 100%;
    display: flex;
    flex-wrap: wrap;

    &-item {
      flex: 50%;
    }

    &-radio {
      display: flex;
      flex-direction: row;

      &--padding {
        margin-left: 33px;
      }
    }

    &-button {
      flex: 100%;
      display: flex;
      justify-content: center;
      padding: 10px;
    }

    &-section {
      padding-left: 16px;
    }
  }

  &__footer {
    margin-top: 37px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;

    &-reset {
      background-color: #e9ecf3;
      width: 100px;
      height: 56px;
      color: #0f265c;
    }

    &-submit {
      background-color: #fff199;
      width: 100px;
      height: 56px;
      margin-left: 63px;
      color: #9fa8be;
    }
  }
}

mb-2 {
  margin-bottom: 2px;
}
