<div class="bodyCard">
    <h1 class="bodyCard__title">Formulario de registro</h1>
    <hr>
    <img src="assets/error-img.png" alt="error" class="bodyCard__img">
    <p class="bodyCard__text">
        <img src="assets/error-logo.png" alt="success" class="bodyCard__text--icon">
        <span class="bodyCard__text--text">Ocurrio un error con el formulario intente nuevamente</span>
    </p>

    <div>
        <button (click)="retry()" class="button button--secondary">Reiniciar</button>
        <button class="button button--primary button--disabled">Enviar</button>
    </div>
</div>
