.form {
  width: 686px;
  height: 783px;
  background: #ffffff;

  &__header {
    width: 100%;
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgba(44, 44, 48, 0.42);
  }
  &__title {
    font-family: "Prelo";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 24px;
    color: #000000;
  }
  &__body {
    height: 578px;
    box-sizing: border-box;
    width: 100%;

    padding: 10px 42px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
  }
  &__footer {
    height: 114px;
    display: flex;
    gap: 64px;
    align-items: center;
    justify-content: center;
  }
}
