/* You can add global styles to this file, and also import other style files */

@import 'assets/scss/main.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  font-family: 'Prelo', 'Times New Roman', Times, serif;
  background-color: $color-background;
}

label {
  color: $color-dark;
  font-size: 14px;
  font-weight: bold;
}

