<div class="register-form__body">
  <div class="register-form__title">
    <h2>Formulario de registro</h2>
  </div>
  <div class="register-form__edit-section">
    <div class="register-form__row">
      <div class="register-form__left-column">
        <p class="register-form__label">
          Nombres
        </p>
        <input class="register-form__input">
      </div>
      <div class="register-form__right-column">
        <p class="register-form__label">
          Apellidos
        </p>
        <input class="register-form__input">
      </div>
    </div>
    <div class="register-form__row">
      <div class="register-form__left-column">
        <p class="register-form__label">
          Correo Electrónico
        </p>
        <input class="register-form__input">
      </div>
      <div class="register-form__right-column">
        <p class="register-form__label">
          Número de teléfono
        </p>
        <input class="register-form__input">
      </div>
    </div>
    <div class="register-form__row">
      <div class="register-form__left-column">
        <p class="register-form__label">
          Provincia
        </p>
        <input class="register-form__input">
      </div>
      <div class="register-form__right-column">
        <p class="register-form__label">
          Ciudad
        </p>
        <input class="register-form__input">
      </div>
    </div>
    <div class="register-form__row">
      <div>
        <p class="register-form__label">
          Seleccione los productos a contratar:
        </p>
        <div class="register-form__flex-container" *ngFor="let product of products">
          <input type="checkbox" [value]="product.id" class="register-form__checkbox">
          <p class="register-form__checkbox-label">
            {{product.name}}
          </p>
        </div>
      </div>
    </div>
    <div class="register-form__row">
      <div>
        <p class="register-form__label">
          Desea recibir la información adicional a su correo electrónico
        </p>
        <div class="register-form__flex-container">
          <input name="email-control" type="radio" class="register-form__radio">
          <p class="register-form__radio-label">No</p>
          <input name="email-control" type="radio" class="register-form__radio">
          <p class="register-form__radio-label">Si</p>
        </div>
      </div>
    </div>
    <div class="register-form__row">
      <div class="register-form__flex-container">
      <input type="checkbox" class="register-form__checkbox">
      <p class="register-form__checkbox-label">
        ¿Aceptas términos y condiciones?
      </p>
    </div>
    </div>
  </div>
  <div class="register-form__button-section">
    <div class="pe-16">
      <button class="register-form__button register-form__button--secondary">
        Reiniciar
      </button>
    </div>
    <div>
      <button class="register-form__button register-form__button--primary">
        Enviar
      </button>
    </div>

  </div>
</div>
